$breakpoint-smallish: 450px;
$breakpoint-small: 650px;
$breakpoint-medium: 900px;
$breakpoint-large: 1160px;
$simpsons-color: #bfdfdb;

.clients-intro {
  text-align: left;
  // width: 86%;
  margin: 50px 20px 20px;
  @media screen and (min-width: $breakpoint-smallish) {
    margin: 50px auto 3px;
    width: 75%;
  }
  @media screen and (min-width: $breakpoint-small) {
    margin: 90px auto 10px;
  }
  @media screen and (min-width: 1110px) {
    width: 758px;
  }
}
.other-clients {
  text-align: center;
  @media screen and (min-width: $breakpoint-small) {
    font-size: 18px;
    line-height: 1.45;
    margin: 90px auto 0;
  }
  @media screen and (min-width: $breakpoint-medium) {
    font-size: 19px;
  }
  @media screen and (min-width: 1110px) {
    font-size: 21px;
    width: 680px;
    margin-left: auto;
    margin-right: auto;
  }
}

.clients {
  margin: 0 auto 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  max-width: 1150px;
  @media screen and (min-width: $breakpoint-small) {
    width: 91%;
    margin: 0 auto 65px;
  }
  @media screen and (min-width: $breakpoint-medium) {
    padding: 0 20px;
    width: 85%;
  }
}

.clients-other {
  margin: 27px auto 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 85%;
  max-width: 1000px;
  @media screen and (min-width: $breakpoint-medium) {
    padding: 0 40px;
    width: 100%;
  }
}

.client {
  flex: 1 0 70px;
  text-align: center;
  margin: -5px 18px 0px;
  @media screen and (min-width: $breakpoint-small) {
    // margin: 5px 16px 35px 16px;
    justify-content: space-between;
  }

  .logo-title {
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin: -28px auto 25px;
  }

  &.unfeatured {
    flex: 1 0 70px;
    margin: 0 16px 18px;
  }
  @media screen and (min-width: $breakpoint-smallish) {
    flex: 1 0 18%;
  }
  @media screen and (min-width: $breakpoint-small) {
    flex: 0 0 16%;
    text-align: center;
    justify-content: space-between;
  }
  @media screen and (min-width: $breakpoint-medium) {
    flex: 0 0 13%;
  }
}

.client-logo {
  max-height: 110px;
//   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
// filter: grayscale(100%);
}

.button-featured {
  display: inline-block;
  margin: -43px auto 0;
  background-color: #eee;
  padding: 8px 14px;
  font-size: 13px;
  text-align: left;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.unfeatured-box {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-left: 20px;
  margin-right: 20px;
  @media screen and (min-width: $breakpoint-large) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
  }
}
