$breakpoint-smallish: 450px;
$breakpoint-small: 650px;
$breakpoint-medium: 900px;
$breakpoint-large: 1160px;
$simpsons-color: #bfdfdb;
$jessica-color: #e8c0c2;
$supplyco-color: #adbeca;
$disco-color: #dcc5d8;
$portfolio-color: #c1e0cb;

.text-content {
  text-align: left;
  margin: 0 20px;
  @media screen and (min-width: $breakpoint-smallish) {
    margin: 0 auto;
    width: 78%;
  }
  @media screen and (min-width: 1110px) {
    width: 800px;
  }
  &.illustration {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 15px;
    width: 800px;
  }
  &.illustrationColumn {
    text-align: center;
    padding-bottom: 0px;
  }
}

p {
  font-size: 16px;
  line-height: 1.4;

  &.smaller {
    font-size: 14px;
  }
  @media screen and (min-width: $breakpoint-small) {
    font-size: 18px;
    line-height: 1.45;

    &.smaller {
      font-size: 16px;
    }
  }
  @media screen and (min-width: $breakpoint-medium) {
    font-size: 19px;
  }
  @media screen and (min-width: 1110px) {
    font-size: 21px;
  }
}

h1 {
  font-weight: 600;
  font-size: 22px;
  margin: 0 auto;
  @media screen and (min-width: $breakpoint-small) {
    font-size: 24px;
  }
  @media screen and (min-width: $breakpoint-medium) {
    font-size: 26px;
  }
  @media screen and (min-width: 1110px) {
    font-size: 29px;
  }
}

h2 {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 7px;
  margin: 0 auto;
  @media screen and (min-width: $breakpoint-medium) {
    font-size: 21px;
  }
  @media screen and (min-width: 1110px) {
    font-size: 23px;
    padding-bottom: 6px;
  }
}

h2 + p {
  margin-top: 1px;
}div

.buttons {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;

  &.one-button {
    justify-content: center;
  }
  @media screen and (min-width: $breakpoint-smallish) {
    justify-content: center;
  }
  margin-bottom: 5px;
  @media screen and (min-width: $breakpoint-medium) {
    margin-bottom: 35px;
  }
}

.button {
  margin: 0 0 4px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: 0.3s;

  &.right {
    &:after {
      right: 100%;
    }

    &:hover {
      &:after {
        right: 0;
      }
    }
  }

  &:after {
    position: absolute;
    transition: 0.3s;
    content: '';
    width: 0;
    bottom: 0;
    height: 3px;
  }

  &:hover {
    cursor: pointer;

    &:after {
      width: 100%;
      left: 0;
    }
  }
  @media screen and (min-width: $breakpoint-smallish) {
    margin: 0 12px 12px;
  }
}

.project-intro {
  margin-top: 50px;
  margin-bottom: 50px;
  @media screen and (min-width: $breakpoint-small) {
    margin: 90px auto;
  }

  &.smaller {
    margin-top: 10px;
    margin-bottom: 60px;
    @media screen and (min-width: $breakpoint-medium) {
      margin-bottom: 60px;
    }
  }
}

.project-content {
  padding: 25px 0;
  align-self: flex-start;
  .project-images {
    padding: 0 20px;
  }

  .columns {
    img {
      @media screen and (min-width: $breakpoint-small) {
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
      }
    }
    .browser {
      border-radius: 6px;
      @media screen and (min-width: $breakpoint-small) {
        border-radius: 3px;
      }
      @media screen and (min-width: $breakpoint-medium) {
        border-radius: 5px;
      }
    }
    &.illustration {
      padding-top: 0px;
      padding-bottom: 30px;
      &.div {
        padding: 0px;
      }
    }
  }

  .browser {
    border-radius: 3px;
    @media screen and (min-width: $breakpoint-small) {
      border-radius: 5px;
    }
    @media screen and (min-width: $breakpoint-medium) {
      border-radius: 7px;
    }
  }

  img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    &.noshadow {
      box-shadow: unset;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1160px;
      &.email {
        width: 650px;
        max-width: 100%;
      }
    }
  }

  p {
    font-size: 14px;
    line-height: 1.35;
    @media screen and (min-width: $breakpoint-small) {
      font-size: 16px;
      line-height: 1.45;
    }
  }

  &.koppers {
    background-color: #dcc9df;

    .button {
      background-color: #997f9c;
    }
    .button:hover {
      background-color: #856789;
    }

    img {
      box-shadow: 0 0 0px rgba(0, 0, 0, 0);
      padding: 15px 20px 60px 20px;
      width: 950px;
      max-width: 100%;
    }
  }

  &.packaging {
    background-color: #abdbcd;

    .button {
      background-color: #4fa289;
    }
    .button:hover {
      background-color: #3c9077;
    }
    .no-shadow {
      box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    }
  }

  &.illustration {
    background-color: #aad7ea;

    .button {
      background-color: #509fbf;
    }
    .button:hover {
      background-color: #3f8faf;
    }
    .no-shadow {
      box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    }
  }

  &.simpsons {
    background-color: #bfdfdb;

    .button {
      background-color: darken($simpsons-color, 27%);

      &:hover {
        background-color: darken($simpsons-color, 37%);
      }
    }
  }

  &.jessica {
    background-color: #e8c0c2;

    .button {
      background-color: darken($jessica-color, 27%);

      &:hover {
        background-color: darken($jessica-color, 37%);
      }
    }
  }

  &.supplyco {
    background-color: #adbeca;

    .button {
      background-color: darken($supplyco-color, 27%);

      &:hover {
        background-color: darken($supplyco-color, 37%);
      }
    }
  }

  &.disco {
    background-color: #dcc5d8;

    .button {
      background-color: darken($disco-color, 27%);

      &:hover {
        background-color: darken($disco-color, 37%);
      }
    }
  }

  &.portfolio {
    margin: 0;
    background-color: #c1e0cb;

    .button {
      background-color: darken($portfolio-color, 27%);

      &:hover {
        background-color: darken($portfolio-color, 37%);
      }
    }
    .project-images {
      padding: 0 8px;
      @media screen and (min-width: $breakpoint-small) {
        padding: 0;
      }
    }
  }
  text-align: center;
  @media screen and (min-width: $breakpoint-small) {
    padding-top: 35px;
  }
  @media screen and (min-width: $breakpoint-medium) {
    padding-top: 45px;
  }
  @media screen and (min-width: 1110px) {
    padding-top: 60px;
  }
}

.jessica img {
  @media screen and (min-width: 665px) {
    width: 625px;
    max-width: 100%;
  }
}

.email {
  img {
    @media screen and (min-width: 665px) {
      width: 700px;
      max-width: 100%;
    }
  }
  .columns {
    padding-top: 0px;
  }
  .second-column {
    padding-top: 0px;
  }
}

.sw-hero {
  padding: 0 20px 20px 20px;
  text-align: center;
  background-color: #dcc5d8;
  overflow: hidden;

  img {
    max-width: none;
    width: 130%;
    margin-left: -15%;
    @media screen and (min-width: $breakpoint-small) {
      max-width: 100%;
      margin: 0 auto;
      width: auto;
    }
  }
}

.caption {
  position: relative;
  margin-top: 24px;
  font-size: 14px;
  line-height: 1.35;
  padding-bottom: 24px;
  margin-bottom: 55px;
  width: 100%;

  &:before {
    content: "";
    position: absolute;
    left: 40%;
    bottom: 0;
    height: 1px;
    width: 20%;
    border-bottom: 1px solid rgba(0,0,0,0.4);
  }
  @media screen and (min-width: $breakpoint-smallish) {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: $breakpoint-small) {
    font-size: 16px;
    width: 65%;
    line-height: 1.45;
    margin-bottom: 70px;
  }
  @media screen and (min-width: $breakpoint-medium) {
    width: 60%;
    margin-bottom: 80px;
  }
  @media screen and (min-width: 1110px) {
    width: 666px;
    margin-left: auto;
    margin-right: auto;
  }
}

.nocaption {
  position: relative;
  font-size: 14px;
  line-height: 1.35;
  padding-bottom: 50px;
  text-align: left;
  width: 100%;

  &.email {
    padding-bottom: 35px;
  }
  @media screen and (min-width: $breakpoint-smallish) {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: $breakpoint-small) {
    font-size: 16px;
    width: 65%;
    line-height: 1.45;
    padding-bottom: 70px;

    &.email {
      padding-bottom: 50px;
    }
  }
  @media screen and (min-width: $breakpoint-medium) {
    width: 60%;
  }
  @media screen and (min-width: 1110px) {
    width: 666px;
    margin-left: auto;
    margin-right: auto;
  }
}

.columns + .caption {
  margin-top: 6px;
}

.columns {
  margin: 0 auto;
  &.illustration {
    padding-bottom: 0px;
    padding-top: 0px;
    }
  > div {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding-bottom: 15px;
    padding-top: 15px;

    img {
      width: 100%;
    }
  }
  @media (min-width: $breakpoint-small) {
    padding-bottom: 18px;
    padding-top: 18px;
    column-count: 2;
    column-gap: 19px;
    column-fill: auto;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1160px;
  }
}

.second-column {
  padding-top: 0px;
  @media (min-width: $breakpoint-small) {
    padding-top: 0px;
  }
}

.portfolio-image {
  margin: 0 auto;
  @media (min-width: $breakpoint-small) {
    padding-bottom: 18px;
    padding-top: 18px;
  }
}
