$breakpoint-smallish: 450px;
$breakpoint-small: 650px;
$breakpoint-medium: 900px;
$breakpoint-large: 1200px;
$simpsons-color: #bfdfdb;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
img {
  max-width: 100%;
}

a {
  color: #000;
  &.button {
    color: #fff;
  }
}

strong {
  font-weight: 600;
  @media screen and (min-width: $breakpoint-small) {
    font-weight: 500;
  }
}

.responsive-columns {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: $breakpoint-smallish) {
    text-align: center;
    flex-direction: row;
  }
}

.top-nav,
.footer {
  margin: 0 20px;
  @media screen and (min-width: $breakpoint-large) {
    width: 1160px;
    margin: 0 auto;
  }
}

.top-nav {
  padding: 12px 0 5px 0;
  border-bottom: solid #ccc 1px;
  a {
    text-decoration: none;
  }
  @media screen and (min-width: $breakpoint-small) {
    border-bottom: solid #ccc 1px;
  }
}

.logo {
  height: 21px;
  display: block;
  opacity: 0.6;
  transition: opacity 0.3s;
  &:hover {
opacity: .9;
  }
  img {
    align-self: baseline;
    width: 121px;
    height: 21px;



  }
}

.menu {
  align-self: left;
  padding-top: 8px;
  width: 195px;
  justify-content: space-between;
  display: flex;
  padding-bottom: 6px;
  font-size: 14px;
  @media screen and (min-width: $breakpoint-smallish) {
    align-self: flex-end baseline;
    padding-top: 4px;
    width: 205px;
  }
}

.blurb {
  margin: 50px auto;
  font-size: 17px;
  text-align: center;
  width: 86%;
  line-height: 1.4;
  @media screen and (min-width: $breakpoint-small) {
    font-size: 21px;
    width: 86%;
    line-height: 1.45;
    margin: 90px auto;
  }
  @media screen and (min-width: $breakpoint-medium) {
    font-size: 23px;
    width: 85%;
  }
  @media screen and (min-width: 1110px) {
    font-size: 26px;
    width: 956px;
    margin-left: auto;
    margin-right: auto;
  }
}

.project {
  display: block;
  position: relative;
  background-color: #ccc;
  height: 185px;
  margin-top: 2px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  span {
    font-size: 16px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    line-height: 1.25;
  }
  &.right span {
    left: 58%;
  }
  &.left span {
    left: 6%;
  }
  @media screen and (min-width:$breakpoint-smallish) {
    &.right span {
      left: 60%;
    }
    &.left span {
      left: 11%;
    }
  }
  @media screen and (min-width: $breakpoint-small) {
    margin-top: 3px;
    height: 250px;
    span {
      font-size: 22px;
      font-weight: 100;
      position: absolute;
      top: 50%;
      margin-top: -24px;
    }
    &.right span {
      left: 62%;
    }
    &.left span {
      left: 10%;
    }
  }
  @media screen and (min-width: $breakpoint-medium) {
    height: 310px;
    span {
      font-size: 25px;
      font-weight: 100;
      position: absolute;
      top: 50%;
      margin-top: -27px;
    }
    &.right span {
      left: 59%;
    }
    &.left span {
      left: 13%;
    }

  }
  @media screen and (min-width: 1160px) {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
}

.packaging-hp {
  background-image: url(../PackagingProjectImageR.jpg);
  background-size: 124%;
  background-repeat: no-repeat;
  background-position: 72% 0%;
  @media screen and (min-width: 650px) {
    background-size: 104%;
    background-position: 100% 8%;
  }
  @media screen and (min-width: 900px) {
    background-size: 100%;
    background-position: 100% 13%;
  }
  @media screen and (min-width: 1160px) {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
}

.illustration-hp {
  background-image: url(../IllustrationProjectImageL.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 22% 23%;
  @media screen and (min-width: 650px) {
    background-size: 105%;
    background-position: -12% 26%;
  }
  @media screen and (min-width: 900px) {
    background-size: 100%;
    background-position: 0% 23%;
  }
  @media screen and (min-width: 1160px) {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
}

.koppers-hp {
  background-image: url(../KoppersCatalogProjectImageR4.jpg);
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: 20% -5%;
  @media screen and (min-width: 650px) {
    background-size: 110%;
    background-position: 32% 10%;
  }
  @media screen and (min-width: 900px) {
    background-size: 112%;
    background-position: 25% 10%;
  }
  @media screen and (min-width: 1160px) {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
}


.simpsons-hp {
  background-image: url(../SimpsonsProjectImageL.jpg);
  background-size: 126%;
  background-repeat: no-repeat;
  background-position: 15% 25%;
  @media screen and (min-width: $breakpoint-small) {
    background-size: 110%;
    background-position: 25% 23%;
  }
  @media screen and (min-width: $breakpoint-medium) {
    background-size: 103%;
    background-position: 25% 20%;
  }
  @media screen and (min-width: 1160px) {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
}

.jessica-hp {
  background-image: url(../JessicaProjectImageL.jpg);
  background-size: 119%;
  background-repeat: no-repeat;
  background-position: 73% 17%;
  @media screen and (min-width: $breakpoint-smallish) {
    background-size: 112%;
    background-position: 70% 18%;
  }
  @media screen and (min-width: $breakpoint-small) {
    background-size: 106%;
    background-position: 50% 18%;
  }
  @media screen and (min-width: $breakpoint-medium) {
    background-size: 103%;
    background-position: 33% 20%;
  }
  @media screen and (min-width: 1160px) {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
}

.supplyco-hp {
  background-image: url(../1791ProjectImageL.jpg);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: 19% 48%;
  @media screen and (min-width: $breakpoint-smallish) {
    background-size: 112%;
    background-position: 25% 44%;
  }
  @media screen and (min-width: $breakpoint-small) {
    background-size: 106%;
    background-position: 25% 44%;
  }
  @media screen and (min-width: $breakpoint-medium) {
    background-size: 100%;
    background-position: 50% 44%;
  }
  @media screen and (min-width: 1160px) {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sharkweek-hp {
  background-image: url(../SharkweekProjectImageLv3.jpg);
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  @media screen and (min-width: 540px) {
    background-size: 111%;
    background-position: 88% 50%;
  }
  @media screen and (min-width: $breakpoint-small) {
    background-size: 108%;
    background-position: 60% 50%;
  }
  @media screen and (min-width: $breakpoint-medium) {
    background-size: 100%;
    background-position: 40% 51%;
  }
  @media screen and (min-width: 1160px) {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
}

.resume {
  text-align: center;
}

.resume-intro {
  position: relative;
  margin: 60px 20px 30px 20px;
  font-size: 16px;
  line-height: 1.55;

  @media screen and (min-width: $breakpoint-smallish) {
    margin: 90px auto 30px auto;
    width: 70%;
  }
  @media screen and (min-width: $breakpoint-small) {
    font-size: 17px;
    width: 65%;
    line-height: 1.65;
  }
  @media screen and (min-width: $breakpoint-medium) {
    width: 60%;
  }
  @media screen and (min-width: 1110px) {
    width: 666px;
  }
}

.footer {
  font-size: 14px;
  margin-top: 3px;
  padding: 32px 0 32px 0;
  align-items: center;
  a {
    text-decoration: none;
    path {
      fill: #fff;
      transition: fill 0.5s ease-out;
    }
    .bubble {
      fill: #ccc;
    }
    &:hover {
      path {
        fill: #ccc;

      }
      .bubble {
        fill: #fff;
        stroke: #ccc;
      }
    }
  }
  @media screen and (min-width: $breakpoint-small) {
  }
}

#linkedin:hover {
  path {
    fill: #007BB6;

  }
  .bubble {
    fill: #fff;
    stroke: #ccc;
  }
}

#social {
  margin-top: 8px;
  @media screen and (min-width: $breakpoint-small) {
    margin-top:0;
    align-self: flex-end;
  }
}
